<div class="content-full">
    <div class="row">
        <div class="col-md-3">   
            <br>
            <br>                     
            <img src="image/logo.png" alt="">
        </div>
        <div class="col-md-9">
            <h3 class="text-center">Giới Thiệu</h3>
            <hr>
            <br>
            <p>CÔNG TY CỔ PHẦN CÔNG NGHỆ GIÁO DỤC TRỰC TUYẾN ALADANH

                Mã số thuế: 0103326250. Chịu trách nhiệm nội dung: Trần văn tèo. Giấy phép thiết lập
                mạng xã hội số: 304360/GP-BTTT Bộ thông tin và Truyền thông cấp ngày 26/7/2017

                Chính sách quyền riêng tư</p>
            <br>
            <p>Với hơn 4 Triệu người dùng mỗi năm, đội ngũ giảng viên, giáo viên giàu kinh nghiệm chúng
                tôi đảm bảo cung cấp đến các em học sinh những nguồn tài liệu học tập đáng tin cậy </p>
        </div>
    </div>

</div>