<div class="content-full">
    <div class="box">
        <h3>Địa Chỉ</h3>
        <p><strong>137 Nguyễn Thị Thập, Hòa Minh, Liên Chiểu, Đà Nẵng</strong></p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.802446509101!2d108.1677603147983!3d16.075738143533673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218e6e72e66f5%3A0x46619a0e2d55370a!2zMTM3IE5ndXnhu4VuIFRo4buLIFRo4bqtcCwgVGhhbmggS2jDqiBUw6J5LCBMacOqbiBDaGnhu4N1LCDEkMOgIE7hurVuZywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1647672473641!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    <div class="box">
     <h3>Liên Hệ</h3>
     <p>Gửi ý kiến đóng góp của quý vị đến với chúng tôi</p>
 </div>
     <div class="row">
         <div class="col-md-6 offset-md-3">
           
          <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Địa chỉ Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Vui lòng nhập địa chỉ Email">
                <small id="emailHelp" class="form-text text-muted">Chúng tôi sẽ không bao giờ chia sẻ email của bạn với bất kỳ ai khác.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Họ Tên</label>
                <input type="text" class="form-control" id="name" placeholder="Họ và tên">
              </div>
              <div class="form-group ">
                 <label for="exampleInputPassword1">Nội dung liên hệ</label>
                 <textarea  class="form-control" name="" id=""  rows="4"></textarea>
              </div>
              <button type="submit" class="btn btn-primary text">Gửi</button>
            </form>
         </div>
     </div>
  </div>
