

<div class="content multiple-carousel">

    <div class="container text-center my-3">
        <h3>Đề Thi Nổi Bậc</h3>
        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item row no-gutters active">
                    <div class="col-3 float-left"><img class="img-fluid"
                            src="image/nv.jpg">
                    </div>
                    <div class="col-3 float-left"><img class="img-fluid" src="image/pen-i-ngu-van-1637117376 (1).png">
                    </div>
                    <div class="col-3 float-left"><img class="img-fluid" src="image/pen-c-vat-li-1579707989.png">
                    </div>
                    <div class="col-3 float-left"><img class="img-fluid" src="image/pros.jpg"></div>
                </div>
                <div class="carousel-item row no-gutters">
                    <div class="col-3 float-left"><img class="img-fluid" src="image/1996.jpg"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="image/2112.jpg"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="image/2113.jpg"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="image/2140.jpg"></div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- <h4>Advances all 4 slides each time</h4> -->
    </div>

</div>